<section class="row" id="about">
    <div class="col-12 col-lg-4 about-card">
        <h4>Qui suis-je ?</h4>
        <span class="underscore"></span>
        <p class="mt-4 fsize-p">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque nisi culpa enim, repudiandae placeat aspernatur ab possimus labore excepturi, dolores dolore nesciunt necessitatibus facere quis officiis rem laboriosam commodi vel.
        </p>
        <a href="#" class="btn btn-prim-outlined btn-sm" title="Télécharger mon cv"><i class="bi bi-download"></i> Télécharger Mon CV</a>
    </div>

    <div class="col-12 col-lg-4 about-card">
        <h4>Infos persos</h4>
        <span class="underscore"></span>
        <p class="mt-4 fsize-p">
            <span class="fw-600">Email:</span> idsall.pro@gmail.com <br>
            <span class="fw-600">Tèl:</span> 0767978282 <br>
            <span class="fw-600">LinkedIn:</span> Idrissa Sall <br>
            <span class="fw-600">GitHub:</span> idriss_cash <br>
            <span class="fw-600">GitLab:</span> idriss_cash
        </p>

        <div class="row">
            <div class="col-12">
                <div class="about-icon-row">
                    <i class="bi bi-envelope-at about-icon"></i>
                    <i class="bi bi-github about-icon"></i>
                    <i class="bi bi-gitlab about-icon"></i>
                    <i class="bi bi-linkedin about-icon"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4 about-card">
        <h4>Domaines</h4>
        <span class="underscore"></span>
        <p class="mt-4">
            <div class="row">
                <div class="col-2 col-lg-3 mb-3">
                    <img src="{{asset('assets/others/avatar.jpg')}}" class="domaine-img" alt="Bootstrap">
                </div>
                <div class="col-10 col-lg-9 mb-2 domaine-text">
                    UX Design <br>
                    <span class="fsize-p">Une description de la compétence</span>
                </div>

                <div class="col-2 col-lg-3 mb-3">
                    <img src="{{asset('assets/others/avatar.jpg')}}" class="domaine-img" alt="Bootstrap">
                </div>
                <div class="col-10 col-lg-9 mb-2 domaine-text">
                    UX Design <br>
                    <span class="fsize-p">Une description de la compétence</span>
                </div>

                <div class="col-2 col-lg-3 mb-3">
                    <img src="{{asset('assets/others/avatar.jpg')}}" class="domaine-img" alt="Bootstrap">
                </div>
                <div class="col-10 col-lg-9 mb-2 domaine-text">
                    UX Design <br>
                    <span class="fsize-p">Une description de la compétence</span>
                </div>
            </div>
        </p>
    </div>
</section>