<section id="contact">
    <div class="container">
        <h3 class="mb-4"><span class="color-prim">Vous souhaitez</span> me contacter ?</h3>

        <div class="row row-gap-3">
            <div class="col-12 col-md-8">
                <h4>Écrivez-moi</h4>
                <span class="underscore"></span>

                <!-- formulaire de contact -->
                <div class="row">
                    <div class="col-12 col-md-10">
                        <form class="mt-2">
                            <div class="mb-3 form-floating">
                              <input type="text" class="form-control" id="name" placeholder="Nom et prénom" />
                              <label for="name" class="form-label">Nom et prénom</label>
                            </div>
                            <div class="mb-3 form-floating">
                              <input class="form-control" id="email" placeholder="Adresse email" />
                              <label for="email" class="form-label">Adresse email</label>
                            </div>
                            <div class="mb-3 form-floating">
                              <input class="form-control" id="subject" placeholder="Sujet" />
                              <label for="subject" class="form-label">Sujet</label>
                            </div>
                            <div class="mb-3 form-floating">
                              <textarea class="form-control" id="msg" placeholder="Votre message" style="height: 100px"></textarea>
                              <label for="msg" class="form-label">Votre message</label>
                            </div>
                            <button type="submit" class="btn btn-prim btn-sm"><i class="bi bi-send"></i> Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4" id="contact-right-col">
              <div class="card contact-right">
                <h4>Retrouvez-moi</h4>
                <span class="underscore"></span>

                <div class="row mt-2 gap-3">
                  <div class="col-12">
                    <a href="" title="" class="contact-link"><i class="bi bi-envelope-at contact-icon"></i> idsall.pro@gmail.com</a>
                  </div>
                  <div class="col-12">
                    <a href="" title="" class="contact-link"><i class="bi bi-github contact-icon"></i> idrissa-sall</a>
                  </div>
                  <div class="col-12">
                    <a href="" title="" class="contact-link"><i class="bi bi-gitlab contact-icon"></i> idriss_sall</a>
                  </div>
                  <div class="col-12">
                    <a href="" title="" class="contact-link"><i class="bi bi-linkedin contact-icon"></i> Idrissa Sall</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>