<section class="container" id="course">
    <h3 class="mb-3">Mon parcours</h3>
    <div class="row">
        <div class="col-12 col-sm-4 course-card">
            <h5>2017 - 2018</h5>
            <p>Titre du job</p>
            <p>
                Une bonne description du job
            </p>
        </div>
    </div>
</section>