<section class="container-fluid cover" id="home"
    style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{ asset('assets/others/header.jpg') }}');">
    <div class="container">
        <!-- icon -->
        <div class="row">
            <div class="col-12">
                <div class="icon-row">
                    <a href="#" title="" class="cover-icon-link"><i class="bi bi-envelope-at"></i></a>
                    <a href="#" title="" class="cover-icon-link"><i class="bi bi-github"></i></a>
                    <a href="#" title="" class="cover-icon-link"><i class="bi bi-gitlab"></i></a>
                    <a href="#" title="" class="cover-icon-link"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
        <!-- welcome -->
        <div class="row welcome-row">
            <div class="col-12">
                <h3 class="cover_hello">Bonjour, je suis</h3>
                <h1 class="cover_name">Idrissa Sall</h1>
                <p class="cover_job">Développeur full-stack web | mobile</p>
                <a href="#" title="Voir mon CV" class="btn btn-prim-rounded"><i class="bi bi-file-earmark-pdf"></i> Voir mon CV</a>
            </div>
        </div>
    </div>
</section>