<footer class="container-fluid d-flex justify-content-center align-items-center">
    <div>Copyright© 2024, Tous droits réservés <span class="fw-600 fs-i color-prim">Idrissa Sall</span></div>  
</footer>