<section class="row banner" id="hire-me-banner">
    <div class="d-flex justify-content-center align-items-center">
        <div>
            <h4>Besoin d'Un Développeur Full-Stack ?</h4>
            <div class="text-center">
                <a class="btn btn-prim" href="#contact">Contactez-moi</a>
            </div>
        </div>
    </div>
</section>