<section class="row banner" id="project-page-banner">
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div>
            <h1>Project Name</h1>
            <!-- breadcrumb -->
            <div class="text-center">
                <span><a href="#" title="" style="color: #A61515">Accueil</a></span>
                <i class="bi bi-chevron-right"></i>
                <span>Projet</span>
            </div>
        </div>
    </div>

</section>