<section id="services">
    <div class="container">
        <h3 class="mb-3"><span class="color-prim">Mes</span> Services</h3>
        <div class="row">
            <div class="col-12 col-md-4">
                <i class="bi bi-person-workspace service-card-icone"></i>
                <div class="service-card">
                    <h4>Développement web</h4>
                    <span class="underscore"></span>
                    <div class="mb-3"></div>
                    <p class="fsize-p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsum consequatur nesciunt maiores pariatur quis delectus possimus. Commodi beatae sequi quisquam. Autem magnam est sint optio ex ab quasi et!
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <i class="bi bi-phone service-card-icone"></i>
                <div class="service-card">
                    <h4>Développement Mobile</h4>
                    <span class="underscore"></span>
                    <div class="mb-3"></div>
                    <p class="fsize-p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsum consequatur nesciunt maiores pariatur quis delectus possimus. Commodi beatae sequi quisquam. Autem magnam est sint optio ex ab quasi et!
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <i class="bi bi-card-image service-card-icone"></i>
                <div class="service-card">
                    <h4>Design graphique</h4>
                    <span class="underscore"></span>
                    <div class="mb-3"></div>
                    <p class="fsize-p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsum consequatur nesciunt maiores pariatur quis delectus possimus. Commodi beatae sequi quisquam. Autem magnam est sint optio ex ab quasi et!
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <i class="bi bi-card-image service-card-icone"></i>
                <div class="service-card">
                    <h4>Design graphique</h4>
                    <span class="underscore"></span>
                    <div class="mb-3"></div>
                    <p class="fsize-p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsum consequatur nesciunt maiores pariatur quis delectus possimus. Commodi beatae sequi quisquam. Autem magnam est sint optio ex ab quasi et!
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <i class="bi bi-card-image service-card-icone"></i>
                <div class="service-card">
                    <h4>Design graphique</h4>
                    <span class="underscore"></span>
                    <div class="mb-3"></div>
                    <p class="fsize-p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsum consequatur nesciunt maiores pariatur quis delectus possimus. Commodi beatae sequi quisquam. Autem magnam est sint optio ex ab quasi et!
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <i class="bi bi-card-image service-card-icone"></i>
                <div class="service-card">
                    <h4>Design graphique</h4>
                    <span class="underscore"></span>
                    <div class="mb-3"></div>
                    <p class="fsize-p">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsum consequatur nesciunt maiores pariatur quis delectus possimus. Commodi beatae sequi quisquam. Autem magnam est sint optio ex ab quasi et!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5"></div>
    <!-- bannière de recrutement freelance -->
    {% include('_includes/hire-me-banner.html.twig') %}
</section>